@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tasks!</h1>
    <p>Navigate to <a href="~/TaskDetails/Index">Assign Tasks</a> to add tasks.</p>
</div>
